* {
    font-family: serif;
}


header {
    width: 100%;

}

.logoContainer img {
    width: 150%;
    height: 50px;
}

.navbar-brand {
    margin-right: auto;
    margin-left: 30px;
}

.resimSlider {
    height: 600px;
    padding-top: 75px;
    margin-bottom: 0 px;

}

body {
    padding: 10px;
    height: auto;
    width: 100%;
    
}

.hakkimizda {
    background-color: antiquewhite;
    margin: auto;
    margin-top: 10px;
}

.ayrac {
    border: none;
    border-top: 5px solid darkred;
    max-width: 250px;
    margin: 25px auto;
}

.ibeyaz {
    color: darkred;
    position: relative;
    top: -60px;
    font-size: 40px;
    border: 10px solid antiquewhite;
    background-color: antiquewhite;
}

.igri {
    color: darkred;
    position: relative;
    top: -60px;
    font-size: 40px;
    border: 10px solid white;
    background-color: white;
}

.card {
    height: 300px;
}

.ürüncard {
    display: flex;
    height: auto;
    margin: 20px;
}

.ürüncard > img:hover {
    opacity: 0.8;
}

.galeri {
    background-color: antiquewhite;
    width: 100%;
}


.figure-img img{
    width: 280 px;
    height: 280px;
    margin: auto;
    
}

.rowGal{
    column-width: auto;
    display: flex;
   
}

.figure-img:hover {
    opacity: 0.8;
}

.rowimg{
    display: inline-block;
    height: 280px;
    width: 100%;
}

#iletisim input{
    width: 80%;
    margin: 30;
    float: right;
    
    }

label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}


.mesajiniz{
    height: 80px;
}

button[type=submit]{
    background-color: darkred;
    color: white;
    float: left;
    width: 100px;
    margin-left: 50px;
    
}