* {
    font-family: serif;
}

header {
    width: 100%;
}

.logoContainer img {
    width: 150%;
    height: 50px;
}

.navbar-brand {
    margin-left: 10px;
    justify-content: left; 
}

.layout-card-container { 
    display: grid;
    gap: 1rem;  
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;
    cursor: pointer;
}

.card {  
    height: 11rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.layout-card-container div.card:nth-child(1){
    background-color: #C3F8FF;
}

.layout-card-container div.card:nth-child(2){
    background-color: #FFF6BD;
}

.layout-card-container div.card:nth-child(3){
    background-color: #CEEDC7;
}

.layout-card-container div.card:nth-child(4){
    background-color: #FFD4B2;
}

.cardTitle {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
}

.card-value p {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 15px;
}

.layout-columns {
    display: grid;
    margin: 20px;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}

.profile {
    border: 1px solid darkred;
    height: 100%;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100%;
    margin-top: 70px;
}

.layout-sidebar {
    margin-left: 20px;
    background-color: #FA7070;
    color: black;
    justify-content: space-between;
    align-items: center;   
}

.layout-sidebar div {
    margin-bottom: 10px; 
}

.layout-sidebar div p {
    margin-bottom: 5px;
}

.sidebarTitle{
    padding-left: 10px;
    font-size: medium;
    font-weight: bolder; 
}


table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
}
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;   
}
  
  table tr:nth-child(even){background-color:#FFD4B2;}
  
  table tr:hover {background-color: #ddd;
    cursor: pointer;}

  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FA7070;
    color: black;
    font-weight: 500px;
  }

  input[type=submit]{
    background-color: #FA7070;
    color: black;
    border: none;
    border-radius: 4px;
    width: 150px;
    margin-left: 80px;
}

footer {
    width: 100%;
    height: auto;
    background-color: #ABD9FF;
    padding-left: 50px;
    color: black; 
    text-decoration: none;
}


/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  

.layout-card-container {
    gap: 1rem;  
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
}

.layout-columns {
    grid-template-columns: 1fr;
}

.profile {
    order: 1;
}

.layout-table {
    order: 2;
}

.layout-sidebar {
     display: none;
}

.layout {
    grid-template-columns: 1fr;
    height: 100%;  
}

}


/*Mobil*/
@media only screen and (max-width: 600px) {
  

.layout-card-container {
    gap: 1rem;  
    grid-template-columns: 1fr;
}

.layout-header-right {
    display: none;
}

.layout-columns {
    grid-template-columns: 1fr;
}
    
.profile {
    order: 1;
}

.layout-table {
    order: 2;
}

.layout-sidebar {
     display: none;
}

.layout {
    grid-template-columns: 1fr;
    height: 100%;   
}

}